*

/* Universal Selector */
    {
    margin: 0;
    padding: 0;
}

/* ul
        {
            margin-left: 20px;
        } */

/* #list-margin{
            margin-left: 20px;
        } */
.list-margin {
    margin: 0px;
}